article {
  float: left;
  width: 47%;
  background-color: gray;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 5px;

  .text {
    display: block;
    background-color: rgba(0, 0, 0, .5);
    min-height: 200px;
    padding: 20px;
    color: white;
  }
  .date {
    font-style: italic;
  }
}

a>h2 {
  color: white;
}
