body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://pbs.twimg.com/profile_images/2037609393/NYT_Twitter_books_400x400.png);
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover; }

.title {
  color: white;
  text-align: center; }

a {
  color: #00B7FF; }

article {
  float: left;
  width: 47%;
  background-color: gray;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 5px; }
  article .text {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 150px;
    color: white; }
